@using PortalWebApp.Models
@model Article
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Article" }))
{
    <div class="row">
        <div > @Html.TextBoxFor(model => model.TotalTasks)        </div>
    </div>

    <div class="progress">
        <div id="progBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div id="results">
        <input type="button" id="UploadBtn" class="btn btn-danger" value="Run CONFIG IMPORT   " />
    </div>

}
<p id="user"></p>
<div id="articleList"></div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/notification.js"></script>
